<div id="winner-page">
<h1 id="winner-header">W I N N E R S</h1>

<% @categories.each do |category| %>

<li class="category-names">
  <div class="category-div-winner">
    <span class="category-span-winner">
      <%= category.name.upcase %>
    </span>
  </div>
</li>

  <div class="hidden">
    <h2 class="winner-title"><%= category.winner.title.upcase %></h2><br>
  </div>
<% end %>
</div>
