body {
  margin: 0 auto;
  padding: 2em;
  font-family: 'Didact Gothic', sans-serif;
  width: 70%;
}

#festival-category-header {
  font-family: "Oswald";
  margin-left: 15px;
}

h1, h2, h3 {
  font-family: "Oswald";
}


header {
  width: 100%;
  padding: 0;
}

#user-nav {
  background-color: #46494C;
  border-top: 8px solid #1985A1;
  display: block;
  padding: 5px;
}

#index {
  text-align: right;
}

#main-header {
  float:left;
  font-size: 3em;
  color: white;
  font-family: "Oswald";
  position: relative;
  bottom: 13px;
  padding-left: 13px;
}

#index .nav-div {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald";
  padding: 1% 2% 1% 2%;
}

#index li a:link{
  color: white;
}

#index li a:visited{
  color: white;
}

.nav-div:hover {
  background-color: #1985A1;
}

#film-list h3 {
  font-family: Oswald;
  color: #1985A1;
}

#film-list h3 a:link{
  color: #1985A1;
}

#film-list h3 a:visited{
  color: #1985A1;
}

.film-div {
  border-bottom: 2px dashed #DCDCDD;
}

.underline-span {
  text-decoration: underline;
}

#film-info-div ul {
  padding: 2%;
}

.form {
  background-color: #C5C3C6;
  margin: 15px;
  font-size: 20px;
}

.form > textarea {
  margin: 15px;
  font-size: 20px;
  resize: none;
}

.form-button {
  border: 3px solid black;
  padding: 1px;
}

.review-button {
  background-color: #4C5C68;
   padding: 10px;
   font-family: Oswald;
}

.review-button a {
  text-decoration: none;
  color: white;
}

#film-info-div {
  background-color: #1985A1;
}

#error_explanation {
  color: red bold;
}

.category-names{
  display: inline-block;
  width: 30%;
  padding: 10px 10px;
  margin: 5px;
  padding:;
  font-family: Oswald;
}

.category-names a:link{
  color: white;
}

.category-names a:visited{
  color: white;
}

.category-div {
  background-color: #46494C;
  padding: 50px;
  text-align: center;
  margin-right: 0;
}



}
.link {
  list-style: none;
}

footer {
  background-color: #1985A1;
  clear: all;
  font-family: Oswald;
}


.footer-text {
  padding: 1% 0 1% 1%;
  display: inline-block;
}

#user-name {
  position:relative;
  text-align: center;
  top:20px;
  width:25%;
  left:36%;
}

#user-reviews {
  position:relative;
  text-align: center;
  top:20px;
  width:30%;
  left: 33.5%;
}

ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

li a{
  text-decoration: none;
}

.comment-holder {
  background-color: #C5C3C6;
}

.review-title-header {
  border-top: 1px dashed #C5C3C6;
}