body {
  margin: 0 auto;
  padding: 5em;

  font-family: 'Chewy', cursive;



>>>>>>> master
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

#user-menu {
  background-color: #46494C;
  border-top: 8px solid #1985A1;
  display: block;
  padding: 5px;
}

#user-menu li {
  list-style: none outside none;
  color: white;
  margin: 0 10px;
  display: inline;
}

#nav-bar {
  background-color: white;

  display: block;
  padding: 5px;
}

#nav-bar li {
  list-style: none outside none;
  color: #46494C;
  margin: 0 10px;
  float: right;
  display: inline;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 1px;
  width: 20%;
}

.form {
  background-color: #C5C3C6;
  margin: 15px;
  font-size: 20px;
}

.form > textarea {
  margin: 15px;
  font-size: 20px;
  resize: none;
}

.form-button {
  border: 3px solid black;
  padding: 1px;
}

#error_explanation {
  color: red bold;
}

#content {
  background: #EEF5DB;
}

.category-names{
  display: inline-block;
  width: 30%;
  padding: 10px 10px;
  margin: 5px;
  padding:;
}

#index {

}
.link {
  list-style: none;
}

footer {
  background-color: #1985A1;
  clear: all;
}

#user-name {
  position:relative;
  text-align: center;
  top:20px;
  width:25%;
  left:36%;
}

#user-reviews {
  position:relative;
  text-align: center;
  top:20px;
  width:30%;
  left: 33.5%;
}

ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

li a{
  text-decoration: none;
}