<h1>LES Film Festival Categories</h1>

<div>
    <ul class="list">
      <% @categories.each do |category| %>
      <li> <%= link_to "#{category.name}", category_path(category) %></li>
      <% end %>
    </ul>
</div>
