<h1 id="festival-category-header">FESTIVAL CATEGORIES</h1>

<div>
    <ul class="list">
      <% @categories.each do |category| %>
      <li class="category-names"><div class="category-div"> <%= link_to "#{category.name.upcase}", category_path(category) %></div></li>
      <% end %>
    </ul>
</div>
