<h1 id="festival-category-header">FESTIVAL CATEGORIES</h1>

<div>
    <ul class="list">
      <% @categories.each do |category| %>
      <li class="category-names"><a href="/categories/<%=category.id%>"><div class="category-div">
        <span class="category-span">
        <%= category.name.upcase %>
        </span>
        </div></a></li>
      <% end %>
    </ul>
</div>
