<h2 class="review-title-header"><%=review.title.upcase%></h2>
<p><%=review.body%></p>


<h3>COMMENTS</h3>
<div class="comment-holder">
<p>
  <% review.comments.each do |comment| %>
    <%=render partial: 'comments/show', locals: {comment: comment}%>
  <% end %>
</p>
</div>

<%if logged_in?%>

<button class="review-button">
  <%= link_to 'COMMENT ON THIS REVIEW', "/comments/new?review_id=#{review.id}" %></button>
<%end%>
